<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Rigistro da OPM</h3>
              <form >
                  <div class="form-group">
                      <label for="nomeOpm">Nome da Opm</label>
                      <input type="text" class="form-control" name="nomeOpm"  required />
                      <div  class="invalid-feedback">
                          <div>Nome da Opm é necessaria!</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="sigla">Sigla</label>
                      <input type="text" class="form-control" name="sigla"  required />
                      <div  class="invalid-feedback">
                          <div >Sigla é necessaria!</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <button class="btn btn-primary">Cadastrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>




